.score {
  font-family: 'Bangers', cursive;
  letter-spacing: 0.5px;
  position: fixed;
  z-index: 9999;
  left: 0;
  text-shadow:
    1px 1px 0 #ee500a,
    2px 2px 0 #ee500a,
    3px 3px 0 #ee500a,
    4px 4px 0 #ee500a,
    5px 5px 0 #ee500a,
    6px 6px 0 #ee500a,
    8px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.score__score {
  color: #f6f1d4;
  font-size: 30px;
  line-height: 30px;
}

.score__high {
  color: #f6f1d4;
  font-size: 20px;
  line-height: 30px;
}

.score__number {
  display: inline-block;
}
